body{
    background-color: white;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.main{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button{
    border-radius: 8px;
    color: white;
    background-color: skyblue;
    font-size: 50px;
    margin: 0;
    padding: 50px;
    border: 0px;
}