body{
    background-color: white;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.main{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

button{
    border-radius: 8px;
    color: white;
    background-color: skyblue;
    font-size: 50px;
    margin: 0;
    padding: 50px;
    border: 0px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 0px;
    gap: 100px;
}
.human, .computer, .tie{
    display: flex;
    flex-direction: column;
}
.human-result, .computer-result, .tie-result{
    justify-content: center;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.victory{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20px;
    background-color: white;
    padding: 0px;
}

.game-result{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.restart{
    border-radius: 8px;
    color: white;
    background-color: skyblue;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    border: 0px;
}
